
<ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
    <a class="pokemon" *ngIf="pokemon.status">
        <h2>{{ pokemon.name }}</h2>
    
        <section class="pokemon__image">
            <img [src]="pokemon.status.sprites.other.dream_world.front_default" [alt]="pokemon.name">
        </section>
    
        <section class="pokemon__status">
            <ul>
                <li *ngFor="let value of pokemon.status.types">{{ value.type.name }}</li>
            </ul>
        </section>
    </a>

</ng-template>